<%- include('header') -%>

<h2>This is the about page</h2>

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatibus
  labore provident, impedit consectetur deleniti explicabo minima esse totam
  magnam voluptate sit ipsam, a ad vel quibusdam nisi tempore odit!
</p>

<%- include('footer') -%>
